<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="container" id="about-me-container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card hovercard bg-dark">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" class="card-image" src="assets/images/ejcheadshot.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="https://scripteden.com/">Evan Cleary</a>
                    </div>
                    <div class="desc">
                        <p>My name is Evan Cleary. I was born in an outskirts of Philadelphia called Ambler, PA. I
                            am one of 6
                            siblings in
                            my family. I have 1 twin, 2 brothers, 3 sisters and 60 cousins. All of them are older
                            then me,
                            including my twin.
                            She lives far away now.</p>
                        <p> I graduated college in 2014 where I was President of the service organization I was a
                            part of. I
                            then was
                            selected to be a Business developer for a Bio-Tech start-up. I was tasked with running
                            the
                            seed-funding initiative, which involved presenting the prototype and business plan to
                            Angel
                            Investors. I later
                            went on to start my own company which is steady and growing. Though this particular
                            business, while
                            profitable, is
                            not fulfilling my creative aspirations.</p>
                        <p>Growing up I've had many ideas for utilizations of technology. I have notebooks of ideas
                            stacked in
                            my home, but
                            never the tools or means to execute on them. I plan to learn everything I can about
                            computer
                            programming so I can
                            build more start-up companies. I hope to make many different web applications and mobile
                            applications with my
                            skillset to start to build a solid holding company that generates revenue from these
                            minor
                            applications.</p>
                        <p>Then, I have one idea in particular that I believe can be very popular. So I intend to
                            work as hard
                            as I can
                            until I develop the skillset necessary to carry out that idea.</p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>