html {
    height: 100%;
}
/* body {
    background:
    url("../images/profile-background-image.jpeg");
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    /* background-size: cover; */
    /* height: 100%; */
    /* height: 1200px; */
    /* color: white; */
/* }*/

body {
/*       
    background: url("/images/layer-3-blackish-transparent.png"),url("/images/sign-set-transparent-lower.png"),url("/images/layer-2-darkgray-transparent.png"),url("/images/layer-1-gray-transparent.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }

#navbar-linkbtns {
    margin-left: 10px;
}

.container-index {
    max-width: 100%;
    margin: 0 auto;
    font-size: 24px;
    /* padding: 25px; */
}

h1 {
    font-family: 'Viga', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 15px;
    color: darkslategrey;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: darkslategrey;
    font-family: 'FreeMono', monospace
}


.parralax-index {
    background: url("/images/layer-5-foreground-transparent.png"),url("/images/layer-4-hills-transparent.png"),url("/images/layer-3-blackish-transparent.png"),url("/images/layer-2-darkgray-transparent.png"),url("/images/layer-1-gray-transparent.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
    max-width: 100%;
}


#headshot-img {
    display: block;
    padding: 20 20 0 10;
    margin-left: auto;
    margin-right: auto;
    
}

#headshot-img {
    display: block;
    padding: 20 20 0 10;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    
}

.row {
    height: 500px;
    padding: 100px 25px 25px 25px;
    /* background-image: linear-gradient(to bottom right, purple, gray); */
    color: black;
    font-size: 32px;
    background: whitesmoke;
    font-family: 'FreeMono', monospace
}

#second-row {
    color: whitesmoke;
    background: black;
}


@media screen and (max-width: 1060px) {
    .row {
        height: 750px;
    }
}

p {
    /* padding: 20 20 0 10; */
    margin-left: auto;
    margin-right: auto;
}